{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <div class="container">
    <div class="row">
       <div class="col-lg-4 col-lg-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Shopping Cart</h3>
                </div>
                <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group">
                                <div class="col-lg-8">
                                  <p>1x G19 Red</p>
                                </div>
                                <div class="col-lg-2 col-lg-offset-1">
                                  <p>$20/ea</p>
                                </div>
                                <div class="col-lg-8">
                                  <p>2x Rad Gray</p>
                                </div>
                                <div class="col-lg-2 col-lg-offset-1">
                                  <p>$20/ea</p>
                                </div>
                          </div>
                      </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-lg-6 col-lg-offset-6">
                    <p class="text-right">Subtotal: $60</p>
                  </div>
                </div>
            </div>
        </div>
</div>
<div class="container">
  <!-- <form class="fullForm form-horizontal"> -->
  <div class="container border-right col-lg-5">
    <form class="form-horizontal" id="firstForm" method="POST" action="/checkout">
        <div class="col-lg-12">
          <h3 class="text-left">Billing</h3>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-5">
              <input type="text" class="form-control" name="first" placeholder="First" required>
            </div>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="middle" placeholder="M.I." >
            </div>
            <div class="col-lg-5">
              <input type="text" class="form-control" name="last" placeholder="Last" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control" name="address1" placeholder="Address Line 1" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control" name="address2" placeholder="Address Line 2">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
              <input type="text" class="form-control" name="city" placeholder="City" required>
            </div>
            <div class="col-lg-2">
              <select name="state" class="form-control" required>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
            </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" name="zip" placeholder="Zip" required>
          </div>
        </div>
        </div>
        <br>
        <div class="form-group">
          <div class="col-lg-12">
            <div class="checkbox">
              <label>
                <input id="copyBilling" type="checkbox">Use Billing Information for Shipping
              </label>
            </div>
          </div>
        </div>
      </div>

  <div class="container col-lg-5 col-lg-offset-2">
        <div class="col-lg-12">
          <h3 class="text-left">Shipping</h3>
        </div>
          <div class="row">
            <div class="col-lg-5">
              <input type="text" class="form-control" name="first" placeholder="First" required>
            </div>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="middle" placeholder="M.I.">
            </div>
            <div class="col-lg-5">
              <input type="text" class="form-control" name="last" placeholder="Last" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control" name="address1" placeholder="Address Line 1" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control" name="address2" placeholder="Address Line 2">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
              <input type="text" class="form-control" name="city" placeholder="City" required>
            </div>
            <div class="col-lg-2">
              <select name="state" class="form-control" required>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
            </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" name="zip" placeholder="Zip" required>
          </div>
        </div>
        <br>
        <br>
  </div>
  <br>
    <div class="col-lg-6 col-lg-offset-3">
      <h3 class="text-left">Payment Information</h3>
    </div>
    <br>

  <div class="row">
    <div class="form-group">
      <div class="col-lg-6 col-lg-offset-3">
            <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name" required>
      </div>
    </div>
  </div>
  <br>
      <div class="row">
        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-3">
            <input type="text" class="form-control card-number" name="card-number" placeholder="Debit/Credit Card Number" required>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-3">
              <select class="form-control card-expiry-month" name="expiry-month" id="expiry-month" required>
                <option disabled selected>Expiration Month</option>
                <option value="01">January (01)</option>
                <option value="02">February (02)</option>
                <option value="03">March (03)</option>
                <option value="04">April (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">August (08)</option>
                <option value="09">September (09)</option>
                <option value="10">October (10)</option>
                <option value="11">November (11)</option>
                <option value="12">December (12)</option>
              </select>
            </div>
            <div class="col-lg-2">
              <select class="form-control card-expiry-year" name="expiry-year" required>
                <option disabled selected>Expiration Year</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
              </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-lg-2 col-lg-offset-3">
          <input type="text" class="form-control card-cvc" name="cvv" id="cvv" placeholder="Security Code" required>
        </div>
      </div>
    </div>
    <br>
      <div class="row">
        <div class="form-group">
          <div class="col-lg-5 col-lg-offset-5">
            <button type="reset" class="btn btn-default cancel">Cancel</button>
            <button type="submit" name="submit" class="btn btn-success submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</form>
<br>
<br>
<div class="alert alert-dismissible alert-success hidden text-center">
  <button type="button" class="close" data-dismiss="alert">X</button>
  <strong>Thank you for your order!</strong> As soon as it's processed, you will get an email confirmation of shipping!
</div>

<div class="alert alert-dismissible alert-danger hidden text-center">
  <button type="button" class="close" data-dismiss="alert">X</button>
  <strong>Uh Oh!</strong> Something went wrong!  Please re-enter your credit card information and try again.
</div>

  </div>

{% endblock %}
