{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

      <section class ="signup bg-warning" id="newsletterBar">
        <div class="container-fluid">
          <div class ="row">
              <div class ="col-lg-8 col-lg-offset-4">
                <form class="form-inline">
                  <label for="NewsletterSignup" class="control-label"><h5>Sign up for the <em>RAD</em> Newsletter &nbsp; &nbsp;</h5></label>
                    <input type="email" required name="email" class="form-control input-sm" id="NewsletterSignup" placeholder="john@example.com" >
                    <button type="submit" class="btn btn-primary btn-xs newsSubmit">NOW!!</button>
                </form>
               </div>
              </div>
            </div>
          </div>
      </section>

      <section class = "slider text-center">
        <div class="container">
          <div class="slider-image" id="slider">
            <img src="../../image/denver_cropped.png" alt="slide image Denver" id="1">
            <img src="../../image/austin_cropped.png" alt="slide image Austin" id="2">
            <img src="../../image/phoenix_cropped.png" alt="slide image Phoenix" id="3">
            <img src="../../image/sanFran_cropped.png" alt="slide image San Francisco" id="4">
            <img src="../../image/seattle_cropped.png" alt="slide image Seattle" id="5">
          </div>
        </div>
      </section>

      <section class ="featured">
        <div class="container">
            <div class ="row">
              <div class ="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4">
                <h2 class = "center-block">Featured Shirts</h2>

              </div>
            </div>
            <hr>
            <br>
            <div class ="row">
                {% for shirt in shirts %}
                  <div class="col-lg-4 col-xs-12" >
                    <img src="{{shirt.img}}" alt="shirt image">
                    <div class="homepage-hover">
                      <button type="submit" class="btn btn-success btn-block cartAdd">Add to Cart</button>
                    </div>
                    <br>
                    <h4>{{shirt.design}} {{shirt.color}}</h4>
                    <h4>{{shirt.price}}</h4>
                    <br>
                    <a href ="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
                    <a href ="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
                    <a href ="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
                    <a href ="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
                    <a href ="#"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
                  </div>
                {% endfor %}
            </div>
            <br>
          </div>
      </section>
  </div>

{% endblock %}
