<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" style="margin-top:-2px; margin-bottom: 0px; border-radius: 0px">
         <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-nav" href="/"><img src="/image/logoSmall.png" style="padding-top: 10px; margin-right: 50px;" alt="Rad People logo image"></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/products">Products</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 50px;">
                    <li><a href="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span>  Cart</a></li>
                    <li>
                    <a href="/login" class="btn btn-default btn-xs" style="margin-left: 20px;"><span class="glyphicon glyphicon-user"></span>  Sign in</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="container-fluid">
        <div class="row well">
          <div class="container">
            <div class="col-lg-4">
              <h3 class="text-warning text-center">Visit Us</h3>
              <img src="/image/location.png" class="center-block" style="border: 2px solid lightgray" alt="Small map of Kauai island">
              <p class="text-center" style="margin-top: 10px;">Rad People headquarters is on Kauai, HI.<br> <em>(pausing for your jealous rage episode)</em></p>
            </div>

            <div class="col-lg-4 text-center">
              <h3 class="text-warning text-center">Quick Links</h3>
              <a href="/"><h4><span class="glyphicon glyphicon-home" style="margin-right: 10px;"></span>Home</h4></a>

              <a href="/user_account"><h4><span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span>Account</h4></a>

              <a href="/products"><h4><span class="glyphicon glyphicon-flash" style="margin-right: 10px;"></span>Products</h4></a>

              <a href="/checkout"><h4><span class="glyphicon glyphicon-shopping-cart" style="margin-right: 10px;"></span>Cart</h4></a>

              <a href="https://http.cat/410"><h4><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span>Help</h4></a>
            </div>

            <div class="col-lg-4 text-center">
              <h3 class="text-warning text-center">Rad People Info</h3>

              <a href="/about"><h4><span class="glyphicon glyphicon-certificate" style="margin-right: 10px;"></span>About</h4></a>

              <a href="#"><h4><span class="glyphicon glyphicon-briefcase" style="margin-right: 10px;"></span>Work with Us</h4></a>

              <a href="https://http.cat/404"><h4><span class="glyphicon glyphicon-list-alt" style="margin-right: 10px;"></span>Terms and Conditions</h4></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
